<mat-list class="navigation">
  <mat-list-item>
    <a mat-list-item (click)="navigateTo('/')"><mat-icon>home</mat-icon>Dashboard</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a mat-list-item (click)="navigateTo('/shopping')"><mat-icon>add_shopping_cart</mat-icon>Listy zakupów</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a mat-list-item (click)="navigateTo('/loans')"><mat-icon>list_alt</mat-icon>Pożyczki / Długi</a>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>