.mat-list-text {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

mat-list-option {
  padding: 5px 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: auto !important;

  mat-pseudo-checkbox {
    display: none !important;
  }

  .mat-list-text {
    span {
      line-height: 1.2em;
    }
  }

  .mat-list-item-content-reverse {
    padding: 0 !important;
  }

  .mat-list-text {
    padding: 0 !important;
  }
}

.details-item, .details-quantity {
  font-weight: bold !important;
  display: flex !important;
  align-items: center;
  word-break: break-all;
  float: left;
  box-sizing: border-box;
  padding: 0 10px !important;
}

.details-item {
  font-size: 1.1em !important;
  width: 90%;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  padding-right: 0 !important;

  @media screen and (max-width: 800px) {
    width: 85%;
  }
  @media screen and (max-width: 550px) {
    width: 83%;
  }
  @media screen and (max-width: 450px) {
    font-size: 0.9em !important;
    width: 80%;
  }
  @media screen and (max-width: 350px) {
    width: 70%;
  }
}

.details-quantity {
  width: 10%;
  font-size: 0.9em !important;

  @media screen and (max-width: 800px) {
    width: 15%;
  }
  @media screen and (max-width: 550px) {
    width: 17%;
  }
  @media screen and (max-width: 450px) {
    width: 20%;
    font-size: 0.8em !important;
  }
  @media screen and (max-width: 350px) {
    width: 30%;
  }
}

.add-shopping-list {
  padding: 20px;

  mat-form-field {
    width: 100%;
  }

  input {
    font-size: 1.5em;
  }

  button {
    font-size: 4em;
    padding: 10px 0;
    margin: 0 auto;
    display: block;
  }
}
