.mat-list-text {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

mat-list-option {
  padding: 10px 0 !important;

  mat-pseudo-checkbox {
    display: none !important;
  }
}

.details-item {
  font-size: 1.5em !important;
  font-weight: bold !important;
  display: block !important;
  word-break: break-all;
}

.add-shopping-list {
  padding: 20px;

  mat-form-field {
    width: 100%;
  }

  input {
    font-size: 1.5em;
  }

  button {
    font-size: 4em;
    padding: 10px 0;
    margin: 0 auto;
    display: block;
  }
}
