<button mat-raised-button color="primary" (click)="updateShoppingList()">Update</button>
<button mat-raised-button color="warn" (click)="updateShoppingList()">Delete</button>

<mat-selection-list>
  <mat-list-option
    *ngFor="let element of shoppingList.elements"
    [(selected)]="element.isAdded"
    [style.background-color]="element.isAdded ? '#ffa7a1' : ''">
    <span class="details-item" [style.text-decoration]="element.isAdded ? 'line-through' : ''">{{element.item}}</span>
    <span class="details-item">{{element.quantity}}</span>
  </mat-list-option>
</mat-selection-list>

<form class="add-shopping-list">
  <mat-form-field>
    <mat-label>Product</mat-label>
    <input matInput placeholder="Product name" [(ngModel)]="addedProduct.item" name="item">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input matInput placeholder="Quantity" [(ngModel)]="addedProduct.quantity" name="quantity">
  </mat-form-field>

  <button mat-raised-button (click)="addNewProduct()">Add</button>
</form>
