<app-current-location [location]="'Shopping lists /'" [name]="shoppingList.name"></app-current-location>

<ng-container *ngIf="!isLoading">
  <div *ngFor="let section of elementsAndCategories">
    <div class="details-category-title">
      {{ section.category }}
    </div>
    <mat-selection-list>
      <mat-list-option
        *ngFor="let element of section.elements"
        [style.background-color]="element.isAdded ? '#ffa7a1' : ''"
        (click)="selectItem(element.id!)"
        [selected]="element.isAdded">
        <span class="details-quantity">{{element.quantity}}</span>
        <span class="details-item" [style.text-decoration]="element.isAdded ? 'line-through' : ''">
          <div>{{element.item}}</div>
          <button mat-icon-button color="warn" (click)="removeItem($event, element.id!)">
            <mat-icon class="material-icons">delete_forever</mat-icon>
          </button>
        </span>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <form class="add-shopping-list">
    <mat-form-field>
      <mat-label>Product</mat-label>
      <input matInput placeholder="Product name" [(ngModel)]="addedProduct.item" name="item" autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput placeholder="Quantity" [(ngModel)]="addedProduct.quantity" name="quantity">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="addedProduct.category" name="category">
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    

    <button mat-icon-button color="primary"
            (click)="addNewProduct()"
            [disabled]="isAddButtonDisabled()">
      <mat-icon class="material-icons">add_circle</mat-icon>
    </button>
  </form>
</ng-container>

<mat-spinner *ngIf="isLoading"></mat-spinner>
