.add-shopping-list {
    mat-form-field {
      width: 100%;
    }
  
    input {
      font-size: 1.1em;
    }
  
    mat-icon {
      width: 40px !important;
      height: 40px !important;
      font-size: 40px !important;
      line-height: 40px !important;
    }
}
  