<mat-list class="shopping-lists">
    @for(shoppingList of shoppingLists; track shoppingList) {
        <mat-list-item  (click)="goToShoppingListDetails(shoppingList)">
            <mat-icon>shopping_cart</mat-icon>
            <div class="list-title">
                {{ shoppingList.name }}
            </div>
            <div>
                |
            </div>
            <div class="list-description">
                {{ shoppingList.description }}
            </div>
            <mat-icon class="list-delete" color="warn" (click)="deleteShoppingList(shoppingList, $event)">close</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
    }
</mat-list>