<div class="shopping-lists">
    @for(shoppingList of shoppingLists; track shoppingList) {
        <div (click)="goToShoppingListDetails(shoppingList)">
            <mat-card>
                <mat-card-content>
                    <h2>{{ shoppingList.name }}</h2>
                    <span>
                        <!-- TODO: give ability to edit shopping list name -->
                        <!-- <mat-icon class="list-edit" color="primary" (click)="editShoppingList(shoppingList, $event)">edit</mat-icon> -->
                        <mat-icon class="list-delete" color="warn" (click)="deleteShoppingList(shoppingList, $event)">close</mat-icon>
                    </span>
                </mat-card-content>
            </mat-card>           
        </div>
    }
</div>