.loans-list {
    padding: 0 10px 20px 10px;
    display: flex;
    flex-wrap: wrap-reverse;

    mat-icon {
        width: auto;
        height: auto;
    }

    div {
        width: 100%;

        h2, p {
            margin: 0;
            padding: 0;
        }
    }
    
    mat-card {
        margin: 10px;
    }

    mat-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .material-icons {
            font-size: 3em;
        }

        p {
            font-size: 1.1em;
            text-align: center;
        }
    }

    //
    // .element-description {
    //     color: rgba(0, 0, 0, 0.54);
    // }

    // .mat-expansion-panel-body {
    //     padding: 0;
    // }

}