<section class="loans-list">
    @for(loan of loans; track loan) {

        <div (click)="goToLoanDetails(loan)">
            <mat-card>
                <mat-card-content>
                    <h2>{{ loan.who }}: {{ getSum(loan) }}</h2>
                    <span>
                        <!-- TODO: give ability to edit loan name -->
                        <!-- <mat-icon class="loan-edit" color="primary" (click)="editLoan(loan, $event)">edit</mat-icon> -->
                        <mat-icon class="loan-delete" color="warn" (click)="deleteLoan(loan, $event)">close</mat-icon>
                    </span>
                </mat-card-content>
            </mat-card>           
        </div>
    }

</section>