<app-current-location [location]="'Listy zakupów / lista: '" [name]="shoppingList.name"></app-current-location>

@if(!isLoading) {
  <div class="shopping-list-details">

    <mat-list>
      @for (section of elementsAndCategories; track section) {
        <div>
          <div class="details-category-title" mat-subheader>{{ section.category }}</div>
          @for (element of section?.elements; track element) {
            <mat-list-item
            [style.background-color]="element.isAdded ? '#ffa7a1' : ''"
            (click)="selectItem(element.id!)">
              <div class="details-wrapper">
                <div class="details-quantity">
                  {{ element.quantity }}
                </div>
                <div class="details-item" [style.text-decoration]="element.isAdded ? 'line-through' : ''">
                  {{ element.item }}
                </div>
                <button class="details-button" mat-icon-button color="warn" (click)="removeItem($event, element.id!)">
                    <mat-icon class="material-icons">close</mat-icon>
                </button>
              </div>
            </mat-list-item>
          }
        </div>
      }
    </mat-list>

    <form class="add-shopping-list">
      <mat-form-field>
        <mat-label>Produkt</mat-label>
        <input matInput placeholder="Produkt" [(ngModel)]="addedProduct.item" name="item" autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ilość</mat-label>
        <input matInput placeholder="Ilość" [(ngModel)]="addedProduct.quantity" name="quantity" autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kategoria</mat-label>
        <mat-select [(ngModel)]="addedProduct.category" name="category">
          @for (category of categories; track category) {
            <mat-option [value]="category.name">
              {{ category.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button 
          mat-raised-button
          color="primary"
          (click)="addNewProduct()"
          [disabled]="isAddButtonDisabled()">
        Dodaj nowy produkt
      </button>
    </form>
  </div>
}
@else {
  <mat-spinner></mat-spinner>
}
