<section class="home-dashboard" cols="2">
    <div>
        <mat-card (click)="goTo('/shopping')">
            <mat-card-content>
                <mat-icon>add_shopping_cart</mat-icon>
                <p>Listy zakupów</p>
            </mat-card-content>
        </mat-card>
        
    </div>
    <div>
        <mat-card (click)="goTo('/loans')">
            <mat-card-content>
                <mat-icon>list_alt</mat-icon>
                <p>Pożyczki / Długi</p>
            </mat-card-content>
        </mat-card>
    </div>
</section>