<form class="add-loan-position" [formGroup]="positionForm">
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput formControlName="value">
    </mat-form-field>

    <mat-radio-group formControlName="isLoan">
        <mat-radio-button [value]="true">Loan</mat-radio-button>
        <mat-radio-button [value]="false">Dept</mat-radio-button>
    </mat-radio-group>

    <button 
        mat-raised-button
        color="primary"
        (click)="add()">
        Add new position to {{ loan.who }}
    </button>
</form>
  